 /* ========= COMMON STYLES =========== */

 body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   background-color: #fff; 
    }

 ul, 
 ol {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

  button {
   cursor: pointer;
 }

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

 /* ========= /COMMON STYLES =========== */

 /* ========= HEADER STYLES ============ */
 
 a {
  text-decoration: none;
 }

.page-header {
 border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center; 
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

 .logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
 }

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

 .header-logo .logo-part {
   color: #2e2f42;
 }

 .nav-link {
   display: block;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
 }
 
  .contacts {
   font-style: normal;
   margin-left: auto;
 }

 .contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }

 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus {
  color: #404bbf;
 }

/* ========= /HEADER STYLES ============ */

/* ========= PAGE SOLUTIONS ============ */

 .title-section {
   background-color: #2e2f42;
  }

 .title-section .effective-name {
   letter-spacing: 0.02em;
  }

 .effective-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color :#fff;
  }

 .btn-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5 
   }

  .btn-service:hover,
  .btn-service:focus {
    font-weight: 600;
    color: #fff;
    background-color: #404BBF;
    }

  /* ========= /PAGE SOLUTIONS ============ */

  /* ========= SESTION OF QUALITIES ========= */

.title-solutions {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
  


/* ========= /SESTION OF QUALITIES ========= */

/* ========= PAGE OF TEAM AND PORTFOLIO ================ */

.team-card {
  background: #f4f4fd;
}

.name-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.name-team {
  background-color: #fff;
}

.item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: capitalize;
  color: #2e2f42;
}

.hero-text {
  text-align: left;
  }

/* ========= /PAGE OF TEAM AND PORTFOLIO ================ */

/* ========= PAGE OF FOOTER =========== */

.page-footer {
  font-family: "Raleway", sans-serif;
  background: #2e2f42;
}

.footer-logo .logo-part {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
  }

  .footer-logo .logo-part {
   color: #f4f4fd;
 }

 .footer-text {
   color: #f4f4fd;
 }
 